/* Footer */
footer {
    background-color: #050928;
    color: var(--purple-light-2);
    text-align: center;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}